<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultCulture" value="pt-BR" />
    <add key="CaminhoLogs" value="C:/_MaabFiles/logs/" />
    <add key="AmbienteDeLog" value="3" />
    <!--<add key="Conexao" value="Data Source=(localdb)\v11.0; Initial Catalog=Maab; Integrated Security=True" />-->
    <!--<add key="Conexao" value="Data Source=WORKKER01-PC\WORKKER01; Initial Catalog=MaabTests; User id=sa; Password=123456"/>-->
    <add key="Conexao" value="Data Source=54.232.123.254; Initial Catalog=MaabTests; User id=sa; Password=123456"/>
  </appSettings>
</configuration>